* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 0 !important;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.43 !important;
  background: #FAFAFA;
  -webkit-font-smoothing: antialiased;
}
body,
input,
button {
  font: 14px "Montserrat", sans-serif;
}
a {
  text-decoration: none !important;
}
p {
  margin-bottom: 0rem;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
hr {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

header > img {
  width: 16px;
}

header div img {
  width: 32px;
  border-radius: 20px;
}

header div {
  display: flex;
  align-items: center;
}

header div a {
  margin-left: 12px;
}

body {
  width: 640px;
  margin: 5px auto;
}

.foto img {
  width: 100%;
}

.reacoes {
  display: flex;
  justify-content: space-between;
}

.curtiu img {
  width: 20px;
  border-radius: 10px;
  margin-right: 8px;
}

.curtiu {
  display: flex;
  margin-bottom: 8px;
}

.interacoes {
  padding: 0px 16px;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-top: 0;
  margin-top: -5px;
  padding-top: 5px;
}

.descricao {
  margin-bottom: 4px;
}

.comentario {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.comentario img {
  width: 12px;
}

.tempo {
  font-size: 10px;
  color: #8e8e8e;
}
